* {
  margin: 0;
  box-sizing: border-box;
}
html {
  --hovedfarve: #546a1f;
  --header: #546a1f6f;
}
body {
  margin: 5%;
  font-family: Helvetica, sans-serif;
}
h1{
   font-family: "Overskrift", system-ui;
   font-size: 70px;
} 
/********************************** Mobil **********************************/
@media (max-width: 620px) {
  /* toogle i højre hjørne (tjekboks), væk med den */
  #menu__toggle {
    opacity: 0;
  }
  /* rotere streger så det danner et kryds, 45 grader */
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  /* Fjerner dobbelt kryds */
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
  }
  /* rotere den anden streger så det danner et kryds */
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  /* tilføjer menu boxen når der bliver trykket på krydset */
  #menu__toggle:checked ~ .menu__box {
    left: 0;
  }
  /* menu krydset */
  .menu__btn {
    position: fixed;
    top: 31px;
    width: 35px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    left: 2rem;
  }
  /* menu krydset, farve, størrelse osv, før menu boksen */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--hovedfarve);
    transition-duration: 0.25s;
  }
  /* Den anden streg der danner brugermenuen (før) */
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  /* Den anden streg der danner brugermenuen (efter) */
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  /* menu boksen kommer frem */
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: #546a1f0e;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  /* teksten i menu boksen */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    text-decoration: none;
    transition-duration: 0.25s;
    text-transform: uppercase;
  }
}
/********************************** Computer **********************************/
@media (min-width: 621px) {
  /* toogle i højre hjørne (tjekboks), væk med den */
  #menu__toggle {
    opacity: 0;
  }
  /* rotere streger så det danner et kryds, 45 grader */
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  /* Fjerner dobbelt kryds */
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
  }
  /* rotere den anden streger så det danner et kryds */
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  /* tilføjer menu boxen når der bliver trykket på krydset */
  #menu__toggle:checked ~ .menu__box {
    left: 0;
  }
  /* menu krydset */
  .menu__btn {
    position: fixed;
    top: 31px;
    width: 35px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    left: 1.5rem;
  }
  /* menu krydset, farve, størrelse osv, før menu boksen */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--hovedfarve);
    transition-duration: 0.25s;
  }
  /* Den anden streg der danner brugermenuen (før) */
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  /* Den anden streg der danner brugermenuen (efter) */
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  /* menu boksen kommer frem */
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: #546a1f0e;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  /* teksten i menu boksen */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    text-decoration: none;
    transition-duration: 0.25s;
    text-transform: uppercase;
  }
  /* hover af teksten i menu boksen */
  .menu__item:hover {
    background-color: var(--header);
  }
}

/** Kontakt form **/
form {
  display: grid;
  padding: 2rem;
  border-radius: 8px;
  gap: 30px;
}

.form-felt {
  display: grid;
  gap: 3px;
}
label,
input,
textarea,
select,
button {
  display: block;
  color: var(--tekstfarve);
  font-weight: bold;
}

button {
  color: white;
  width: 145px;
  height: 40px;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: #505b4f;
}

/*singleview*/
@font-face {
  font-family: "Overskrift";
  src: url("font/lobstertwo-regular-webfont.woff2");
}
@font-face {
  font-family: "h2";
  src: url("font/firasans-regular-webfont.woff2");
}
@font-face {
  font-family: "Tekst";
  src: url("font/hindguntur-regular-webfont.woff2");
}

img{
  width: 100%;
}


.h1_single{
  font-family: "Overskrift", system-ui;
  text-align: center;
  color: var(--hovedfarve);
  font-size: 70px;
}
.about-section {
  background: url(/img/Storby/barcelona-19.webp) no-repeat left;
  background-size: 55%;
  overflow: hidden;
  padding: 50px 0;
  
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #B5BE9D;
  padding: 150px;
  
}

.inner-container h2 {
  font-family: "h2", system-ui;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

.text {
  font-family: Helvetica, system-ui;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
  
}
.info-section{
  padding: 100px;
}
.info-section p{
  font-family: Helvetica, system-ui;
  font-size: 18px;
  line-height: 1.6rem;
  border: solid 2px rgb(235, 231, 231);
  padding: 40px;

}
 .info-section h2{
  font-family: Helvetica, system-ui;
  text-align: center;
  font-size: 40px;
  color: var(--hovedfarve);
  padding: 30px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}




/* ***************** breadcrumbs ****************** */
.breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 0;
}
.breadcrumbs li {
  list-style: none;
}
.breadcrumbs a {
    font-size: 12px;
    background-color: white;
    text-decoration: none;
    color: var(--hovedfarve);

 }
.breadcrumbs p {
    font-size: 12px;
 }
 .breadcrumbs a::after {
    content: ">";
    padding-left: 20px;
 }
 .breadcrumbs a:hover {
  color: black;
 }


 /* ***********  LOGO ************ */
.logo img {
  max-width: 100px;
}
.logo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo h1 {
  font-size: 30px;
  font-weight: 400;
  color:#546a1f;
  font-style: italic;
}
/* ******* forside ************ */
.landingpage h1 {
  color: white;
  font-size: 60px;
  padding-top: 10%;
  padding-bottom: 5%;

}
.landingpage {
  background-image: url(img/bg.webp);
  background-size: cover;
  margin-top: 5px;
  height: 75vh;
   text-align: center;
}

#index_body {
  margin: 0;

}
.landingpage a {
  text-decoration: none;
  color: white;
  padding: 10px;
  padding-left: 50px;
  padding-right: 40px;
  border: 1px solid white;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}
.landingpage a::after {
  content: ">";
  padding-left: 20px;
}
.landingpage a:hover {
  border-color: var(--hovedfarve);
}

@media (min-width:900px) {
.landingpage_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}  
.h1_left {
  text-align: center;
}
}

@media (min-width: 300px) {
  .feriemål {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }
}

@media (min-width: 900px) {
  .feriemål {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 5%;
  }
}


.link {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 15px;
}

.h1_left {
text-align: left;
margin-left: 5%;
padding-top: 20px;
font-size: 50px;
}

.feriemål a {
  border: #546a1f solid 1px;
  color: #546a1f;
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
}

 .feriemål a:hover {
    background-color: #546a1f;
    color: white;
}

article {
  max-width: 400px;
  text-align: center;
  margin: 5px;
  border: solid rgba(0, 0, 0, 0.188) 0.1px;
  display: flex;
  flex-direction: column;
}

.landingpage_2 p {
  text-align: left;
  margin-left: 5%;
  padding-bottom: 40px;
  color: rgba(0, 0, 0, 0.6);
}
/*  */

/* ******** footer *********** */

footer img {
  max-width: 30px;
}
footer {
  background-color: var(--header);
  padding: 5%;
  display: flex;
  flex-direction: row;
 justify-content: center;
  gap: 100px;
  margin-top: 2em;
}
footer h3 {
  font-size: 12px;
  color: var(--hovedfarve);
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
  color: var(--hovedfarve);
  text-transform: uppercase;
  border: solid var(--hovedfarve) 1px;
  padding: 10px;
  border-radius: 20px;
  font-size: 12px;
}
footer a:hover {
  color: white;
  border-color: white;
}
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}