html {
  --hovedfarve: #546a1f;
}

/** Kontakt form **/
form {
  display: grid;
  padding: 2rem;
  border-radius: 8px;
  gap: 30px;
}

.form-felt {
  display: grid;
  gap: 3px;
}
label,
input,
textarea,
select,
button {
  display: block;
  color: var(--tekstfarve);
  font-weight: bold;
}

button {
  color: white;
  width: 145px;
  height: 40px;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: #505b4f;
}
