* {
  margin: 0;
  box-sizing: border-box;
}
main {
  margin: 5%;
}
html {
  --hovedfarve: #546a1f;
  --header: #546a1f6f;
}
body {
  font-family: Helvetica, sans-serif;
}
h1 {
  font-family: "Overskrift", system-ui;
  font-size: 70px;
}
a {
  text-decoration: none;
}
p {
  font-size: 15px;
  line-height: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}
/********************************** Mobil **********************************/
@media (max-width: 740px) {
  /* toogle i højre hjørne (tjekboks), væk med den */
  #menu__toggle {
    opacity: 0;
  }
  /* rotere streger så det danner et kryds, 45 grader */
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  /* Fjerner dobbelt kryds */
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
  }
  /* rotere den anden streger så det danner et kryds */
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  /* tilføjer menu boxen når der bliver trykket på krydset */
  #menu__toggle:checked ~ .menu__box {
    left: 0;
  }
  /* menu krydset */
  .menu__btn {
    position: fixed;
    top: 31px;
    width: 35px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    left: 2rem;
  }
  /* menu krydset, farve, størrelse osv, før menu boksen */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--hovedfarve);
    transition-duration: 0.25s;
  }
  /* Den anden streg der danner brugermenuen (før) */
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  /* Den anden streg der danner brugermenuen (efter) */
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  /* menu boksen kommer frem */
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: #eef0e9;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  /* teksten i menu boksen */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    text-decoration: none;
    transition-duration: 0.25s;
    text-transform: uppercase;
  }
  .menu__box li:hover {
    background-color: #546a1f88;
  }
}
.logo img {
  max-width: 100px;
}
/********************************** Computer **********************************/
@media (min-width: 740px) {
  /* toogle i højre hjørne (tjekboks), væk med den */
  #menu__toggle {
    opacity: 0;
  }
  .menu__box {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    text-transform: uppercase;
    font-size: 15px;
  }
  .menu__box a {
    color: var(--hovedfarve);
  }
  .menu__box a:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-inline: 5%;
  }

  .logo img {
    max-width: 50px;
  }
  .logo {
    display: flex;
    align-items: center;
  }
}
/* rotere streger så det danner et kryds, 45 grader */
/* #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  } */
/* Fjerner dobbelt kryds */
/* #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
  } */
/* rotere den anden streger så det danner et kryds */
/* #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  } */
/* tilføjer menu boxen når der bliver trykket på krydset */
/* #menu__toggle:checked ~ .menu__box {
    left: 0;
  } */
/* menu krydset */
/* .menu__btn {
    position: fixed;
    top: 31px;
    width: 35px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    left: 1.5rem;
  } */
/* menu krydset, farve, størrelse osv, før menu boksen */
/* .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--hovedfarve);
    transition-duration: 0.25s;
  } */
/* Den anden streg der danner brugermenuen (før) */
/* .menu__btn > span::before {
    content: "";
    top: -8px;
  } */
/* Den anden streg der danner brugermenuen (efter) */
/* .menu__btn > span::after {
    content: "";
    top: 8px;
  } */
/* menu boksen kommer frem */
/* .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: #fdfff7;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  } */
/* teksten i menu boksen */
/* .menu__item {
    display: block;
    padding: 12px 24px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    text-decoration: none;
    transition-duration: 0.25s;
    text-transform: uppercase;
  } */
/* hover af teksten i menu boksen */
/* .menu__item:hover {
    background-color: var(--header);
  } */

/** Kontakt form **/
#kontakt_body p {
  text-align: center;
  margin-inline: 20%;
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.62);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  gap: 15px;
}

.form-felt {
  display: grid;
  gap: 3px;
}
label,
input,
textarea,
select,
button {
  display: block;
  color:var(--hovedfarve);
  font-weight: 800;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px;
  padding-inline: 20px;

}
input, textarea {
  border: #546a1f solid 1px;
}

label {
  text-transform: uppercase;
  font-size: 15px;
  display: grid;
  gap: 1px;
}

button {
  color: var(--hovedfarve);
  width: 145px;
  height: 40px;
  border-radius: 20px;
  border: var(--hovedfarve) solid 1px;
  font-size: 1.3rem;
  background-color: white;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

button:hover {
  background-color: var(--hovedfarve);
  color: white;
}

/*singleview*/
@font-face {
  font-family: "Overskrift";
  src: url("font/lobstertwo-regular-webfont.woff2");
}
@font-face {
  font-family: "h2";
  src: url("font/firasans-regular-webfont.woff2");
}
@font-face {
  font-family: "Tekst";
  src: url("font/hindguntur-regular-webfont.woff2");
}

img {
  width: 100%;
}
.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
}
.h1_single {
  font-family: "Overskrift", system-ui;
  text-align: center;
  color: var(--hovedfarve);
  font-size: 70px;
  margin: 20px;
  padding-top: 2rem;
}
.text {
  text-align: left;
}
.text h3 {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}
.text h4 {
  color: var(--hovedfarve);
}

.inner-container {
  background-color: #546a1f19;
  padding: 20px;
  margin: 30px;
  text-align: left;
  
}

.inner-container h2 {
  font-family: "h2", system-ui;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

.info-section p {
  font-family: Helvetica, system-ui;
  font-size: 15px;
  line-height: 1.6rem;
  border: solid rgba(0, 0, 0, 0.188) 0.1px;
  padding: 40px;
}
.info-section h2 {
  font-family: Helvetica, system-ui;
  text-align: center;
  font-size: 40px;
  color: var(--hovedfarve);
  padding: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 20px;
  }

  @media screen and (max-width: 900px) {
    .inner-container {
      width: 80%;
    }
    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 600px) {
    .inner-container {
      padding: 60px;
    }
    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

/* ***************** breadcrumbs ****************** */
.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 0;
  margin: 16px;
  margin-left: 0;
}
.breadcrumbs li {
  list-style: none;
}
.breadcrumbs a {
border: #546a1f solid 1px;
color: #546a1f;
text-transform: uppercase;
padding: 10px;
font-size: 10px;
border-radius: 20px;

}
.breadcrumbs p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
/* .breadcrumbs a::after {
  content: ">";
  padding-left: 5px;
} */
.breadcrumbs a:hover {
  color: white;
  background-color: #546a1f;
}

/* ***********  LOGO ************ */

.logo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo h1 {
  font-size: 25px;
  font-weight: 400;
  color: #546a1f;
  font-style: italic;
  margin: 0;
}
/* ******* forside ************ */

.landingpage h1 {
  color: white;
  font-size: 60px;
  padding-top: 10%;
  padding-bottom: 2%;
  margin-bottom: 0;
}
.landingpage {
  background-image: url(img/bg.webp);
  background-size: cover;
  margin-top: 5px;
  height: 80vh;
  text-align: center;
}

#index_body main {
  margin: 0;
}
.landingpage a {
  text-decoration: none;
  color: white;
  padding: 10px;
  padding-left: 50px;
  padding-right: 40px;
  border: 1px solid white;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}
.landingpage a::after {
  content: ">";
  padding-left: 20px;
}
.landingpage a:hover {
  border-color: var(--hovedfarve);
}

@media (min-width: 900px) {
  .landingpage_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .h1_left {
    text-align: center;
  }
}

@media (min-width: 300px) {
  .feriemål {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }
}

@media (min-width: 900px) {
  .feriemål {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 5%;
  }
}

.link {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 15px;
}

.h1_left {
  text-align: left;
  margin-left: 5%;
  padding-top: 20px;
  font-size: 50px;
}

.feriemål a {
  border: #546a1f solid 1px;
  color: #546a1f;
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
}

.feriemål a:hover {
  background-color: #546a1f;
  color: white;
}

article {
  max-width: 400px;
  text-align: center;
  margin: 5px;
  border: solid rgba(0, 0, 0, 0.188) 0.1px;
  display: flex;
  flex-direction: column;
}

.landingpage_2 p {
  text-align: left;
  margin-left: 5%;
  padding-bottom: 40px;
  color: rgba(0, 0, 0, 0.6);
}
.landingpage h2 {
  color: white;
  text-transform: none;
  margin-bottom: 40px;
  margin-inline: 5%;
}
/*  */

/* ******** footer *********** */

footer img {
  max-width: 30px;
}
footer {
  background-color: #546a1f19;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 0;
  margin-top: 2em;
}
footer h3 {
  font-size: 12px;
  color: var(--hovedfarve);
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
  color: var(--hovedfarve);
  text-transform: uppercase;
  border: solid var(--hovedfarve) 1px;
  padding: 10px;
  border-radius: 20px;
  font-size: 12px;
}
footer a:hover {
  color: white;
  background-color: var(--hovedfarve);
  border-color: var(--hovedfarve);
}
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@font-face {
  font-family: "Overskrift";
  src: url("font/lobstertwo-regular-webfont.woff2");
}
@font-face {
  font-family: "h2";
  src: url("font/firasans-regular-webfont.woff2");
}
@font-face {
  font-family: "Tekst";
  src: url("font/hindguntur-regular-webfont.woff2");
}

main {
  margin: 5%;
  font-family: Helvetica, sans-serif;
  text-align: center;
}
html {
  --hovedfarve: #546a1f;
}
h1 {
  font-family: "Overskrift", system-ui;
  font-size: 60px;
  font-weight: 400;
  color: #546a1f;
  margin: 20px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 20px;
}
#ferielistegrid a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
article {
  max-width: 400px;
  text-align: center;
  margin: 5px;
  border: solid rgba(0, 0, 0, 0.188) 0.1px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 300px) {
  #ferielistegrid {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }
}

@media (min-width: 800px) {
  #ferielistegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 5%;
  }
}
@media (min-width: 1100px) {
  #ferielistegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 5%;
  }
}

.ferie_tekst {
  margin: 20px;
  margin-top: 10px;
}
.link {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 15px;
}
#ferielistegrid a {
  border: #546a1f solid 1px;
  color: #546a1f;
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
}

#ferielistegrid a:hover {
  background-color: #546a1f;
  color: white;
}

/* ***************** breadcrumbs ****************** */
.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 0;
}
.breadcrumbs li {
  list-style: none;
}
.breadcrumbs a {
  font-size: 12px;
  background-color: white;
  text-decoration: none;
  color: var(--hovedfarve);
}
.breadcrumbs p {
  font-size: 12px;
}
/* .breadcrumbs a::after {
  content: ">";
  padding-left: 20px;
} */
.breadcrumbs a:hover {
  color: white;
}
